# ModelForge Environment Configuration
BASE_PATH=/path/to/modelforge
ASSETS_PATH=${BASE_PATH}/assets

#Pytorch Config
PYTORCH_VENV_PATH=${BASE_PATH}/src/main/installed-python/myenv
VENV_PYTHON_PATH=${BASE_PATH}/src/main/installed-python/myenv/bin/python3